.chat-container {
    max-width: 600px;
    height: 500px;
    margin:10px auto;
    background-color: #e0d6d6;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-container{
    display:flex;
    flex-direction:column;
    gap:8px;
    padding:8px;
    overflow-y: scroll;
    width: 90%;
    height: 70%;
    background-color: rgb(242, 242, 252);
    border-radius: 8px;
    border: 1px solid black;
    margin:10px auto;
}

.input-container {
    margin: 20px auto;
    display: flex;
    align-items: center;
  }



  .message {
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 70%;
    font-size: 14px;
    word-wrap: break-word;
    display: inline-block;
  }
  
  .sent {
    background-color: #dcf8c6; /* Light green for sender */
    align-self: flex-end;
    text-align: right;
  }
  
  .received {
    background-color: #fff;
    align-self: flex-start;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .message-text {
    display: block;
  }


/* .button-div{
    height: 40px;
    position: relative;

    display: block;
    background: brown;
} */

.input-message{
    margin-left: 30px;
    padding: 10px;
    width: 70%;
 
    border: 1px solid;
    border-radius: 10px;

}


.button-div{
   border: none;
   border-radius: 10px;
    cursor: pointer;
   height: 40px;
   color: white;
   font-weight: bold;
   background-color: orangered;
    margin-left: 5px; 
    width: 95px;
} 

.timeStamp{
    font-size:10px;
}


