.flexbox-container{
    display:flex;
    margin:10px;
    /* background-color: DodgerBlue; */
    justify-content: space-around;
}

.flexbox-container > div {
    border:1px solid grey;
    border-radius:10px;
    width:150px;
    height:50px;
    background-color: #ddb8da;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    flex-flow: row wrap;
  }

  .flexbox-container > div > p {
    /* background-color: #d11313; */
    font-size:15px;
   
  }

  .flexbox-container > div > a {
    /* background-color: #d11313; */
    font-size:15px;
    text-decoration:none;
   
  }