*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
}
#root {
  margin: 0;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;

}